html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../../public/backiee-250541-landscape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* .employee-list {
  width: 80%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */



.employee-list {
  width: 80%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 500px; /* Set a fixed height for the list container */
  overflow-y: auto; /* Add vertical scroll bar if content exceeds height */
}



.employee-list h2 {
  font-size: 24px;
  color: darkorange;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* .employee-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
} */


.employee-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}


.employee-list th, .employee-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-list th {
  background-color: #4B0082;
  color: #fff;
}

.employee-list tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.employee-list tbody tr:hover {
  background-color: #f1f1f1;
}

.employee-list td button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
}

.employee-list td button:hover {
  background-color: #0056b3;
}

.employee-list td button:active {
  background-color: #0056b3;
  transform: translateY(1px);
}

.back-button {
  padding: 10px 10px;
  font-size: 14px;
  background-color: darkorange;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #5a6268;
}

.back-button:active {
  background-color: #5a6268;
  transform: translateY(1px);
}
