/* .payroll-form {
    width: 400px;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payroll-form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .payroll-form form {
    display: grid;
    gap: 10px;
  }
  
  .payroll-form label {
    font-weight: bold;
  }
  
  .payroll-form input[type="number"],
  .payroll-form input[type="text"] {
    width: calc(100% - 20px); 
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .payroll-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .payroll-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .payroll-form button[type="submit"]:active {
    background-color: #0056b3;
    transform: translateY(1px);
  }
   */

   .payroll-form {
    width: 400px;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payroll-form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .payroll-form form {
    display: grid;
    gap: 10px;
  }
  
  .payroll-form label {
    font-weight: bold;
  }
  
  .payroll-form .custom-select {
    position: relative;
    width: calc(100% - 20px); /* Adjust width as needed */
  }
  
  .payroll-form select {
    width: 100%;
    padding: 10px 12px; /* Adjust padding as needed */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; /* Remove default arrow */
    background-color: #fff; /* Background color */
    cursor: pointer;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
  }
  
  .payroll-form select:focus {
    outline: none;
    border-color: #007bff; /* Focus color */
  }
  
  .payroll-form select option {
    background-color: #fff;
    color: #333;
  }
  
  .payroll-form input[type="number"],
  .payroll-form input[type="text"] {
    width: calc(100% - 24px); /* Adjust width as needed */
    padding: 10px 12px; /* Adjust padding as needed */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .payroll-form button[type="submit"] {
    padding: 12px 24px; /* Adjust padding as needed */
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .payroll-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .payroll-form button[type="submit"]:active {
    background-color: #0056b3;
    transform: translateY(1px);
  }
  