/* Styles for parent and child containers */
.parent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.child {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

/* Styles for navigation bar */
.nav-bar {
    background-color: var(--fdx-purple);
    display: flex;
    justify-content: space-between; /* Space between logo and heading */
    align-items: center; /* Centers content vertically */
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 0 20px; /* Adds padding to the sides */
}

.nav-bar img {
    height: 50px;
}

.nav-bar h1 {
    color: white;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: normal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Styles for main content */
.main-content {
    margin-top: 70px; /* Matches the height of the navbar */
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 70px);
    padding: 20px; /* Adds padding to the content */
}

/* Responsive design */
@media (max-width: 768px) {
    .nav-bar h1 {
        font-size: 1.2em; /* Reduces font size on smaller screens */
    }

    .main-content {
        padding: 15px; /* Adjusts padding for smaller screens */
    }
}

